PUSHI 0
PUSHI 0
PUSHI 0
PUSHN 3
PUSHN 3
START
testa0: nop
PUSHG 0
PUSHI 3
INF
JZ saiciclo0
PUSHS "Introduza um valor: "
WRITES
PUSHGP
PUSHI 3
PADD
PUSHG 0
READ
ATOI
STOREN
PUSHG 0
PUSHI 1
ADD
STOREG 0
JUMP testa0
saiciclo0: nop
PUSHI 2
STOREG 0
testa1: nop
PUSHG 0
PUSHI 0
SUPEQ
JZ saiciclo1
PUSHGP
PUSHI 6
PADD
PUSHG 1
PUSHGP
PUSHI 3
PADD
PUSHG 0
LOADN
STOREN
PUSHG 0
PUSHI 1
SUB
STOREG 0
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP testa1
saiciclo1: nop
PUSHI 0
STOREG 1
PUSHS "lista: ["
WRITES
testa2: nop
PUSHG 1
PUSHI 3
INF
JZ saiciclo2
PUSHGP
PUSHI 6
PADD
PUSHG 1
LOADN
WRITEI
PUSHS ","
WRITES
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP testa2
saiciclo2: nop
PUSHS "]\n"
WRITES
STOP