PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
PUSHN 25
PUSHI 0
START
PUSHS "Insira o quantidade de números a introduzir: "
WRITES
READ
ATOI
STOREG 2
testa0: nop
PUSHG 0
PUSHG 2
INF
JZ saiciclo0
PUSHS "Introduza o "
WRITES
PUSHG 0
PUSHI 1
ADD
WRITEI
PUSHS "º número: "
WRITES
PUSHGP
PUSHI 4
PADD
PUSHG 0
READ
ATOI
STOREN
PUSHG 0
PUSHI 1
ADD
STOREG 0
JUMP testa0
saiciclo0: nop
PUSHI 1
STOREG 0
testa6: nop
PUSHG 0
PUSHG 2
INF
JZ saiciclo6
PUSHGP
PUSHI 4
PADD
PUSHG 0
LOADN
STOREG 3
PUSHG 0
PUSHI 1
SUB
STOREG 1
PUSHG 3
PUSHGP
PUSHI 4
PADD
PUSHG 1
LOADN
INF
JZ else2
PUSHG 1
PUSHI 0
SUPEQ
JZ else1
PUSHI 1
STOREG 29
JUMP endIf1
else1: nop
PUSHI 0
STOREG 29
endIf1: nop
JUMP endIf2
else2: nop
PUSHI 0
STOREG 29
endIf2: nop
testa5: nop
PUSHG 29
PUSHI 1
EQUAL
JZ saiciclo5
PUSHGP
PUSHI 4
PADD
PUSHG 1
PUSHI 1
ADD
PUSHGP
PUSHI 4
PADD
PUSHG 1
LOADN
STOREN
PUSHG 1
PUSHI 1
SUB
STOREG 1
PUSHG 3
PUSHGP
PUSHI 4
PADD
PUSHG 1
LOADN
INF
JZ else4
PUSHG 1
PUSHI 0
SUPEQ
JZ else3
PUSHI 1
STOREG 29
JUMP endIf3
else3: nop
PUSHI 0
STOREG 29
endIf3: nop
JUMP endIf4
else4: nop
PUSHI 0
STOREG 29
endIf4: nop
JUMP testa5
saiciclo5: nop
PUSHGP
PUSHI 4
PADD
PUSHG 1
PUSHI 1
ADD
PUSHG 3
STOREN
PUSHG 0
PUSHI 1
ADD
STOREG 0
JUMP testa6
saiciclo6: nop
PUSHS "Ordem dos elementos ordenados:\n"
WRITES
PUSHI 0
STOREG 0
testa7: nop
PUSHG 0
PUSHG 2
INF
JZ saiciclo7
PUSHGP
PUSHI 4
PADD
PUSHG 0
LOADN
WRITEI
PUSHS " -> "
WRITES
PUSHG 0
PUSHI 1
ADD
STOREG 0
JUMP testa7
saiciclo7: nop
PUSHS "\n"
WRITES
STOP