PUSHI 0
PUSHN 3
PUSHI 0
PUSHI 0
START
testa1: nop
PUSHG 4
PUSHI 3
INF
JZ saiciclo1
PUSHS "Introduza um valor: "
WRITES
READ
ATOI
STOREG 0
PUSHI 1
PUSHG 0
PUSHI 2
MOD
PUSHI 0
EQUAL
SUB
JZ endIF0
PUSHGP
PUSHI 1
PADD
PUSHG 5
PUSHG 0
STOREN
PUSHG 5
PUSHI 1
ADD
STOREG 5
endIF0: nop
PUSHG 4
PUSHI 1
ADD
STOREG 4
JUMP testa1
saiciclo1: nop
PUSHI 0
STOREG 4
PUSHS "Impares: ( "
WRITES
testa2: nop
PUSHG 4
PUSHG 5
INF
JZ saiciclo2
PUSHGP
PUSHI 1
PADD
PUSHG 4
LOADN
WRITEI
PUSHS ", "
WRITES
PUSHG 4
PUSHI 1
ADD
STOREG 4
JUMP testa2
saiciclo2: nop
PUSHS " )\n"
WRITES
PUSHS "Introduziu "
WRITES
PUSHG 5
WRITEI
PUSHS " números impares\n"
WRITES
STOP