PUSHN 10
PUSHI 0
PUSHI 0
START
testa0: nop
PUSHG 10
PUSHI 10
INF
JZ saiciclo0
PUSHS "Introduza um valor: "
WRITES
PUSHGP
PUSHI 0
PADD
PUSHG 10
READ
ATOI
STOREN
PUSHG 10
PUSHI 1
ADD
STOREG 10
JUMP testa0
saiciclo0: nop
PUSHI 9
STOREG 10
PUSHS "lista: ["
WRITES
testa1: nop
PUSHG 10
PUSHI 0
SUPEQ
JZ saiciclo1
PUSHGP
PUSHI 0
PADD
PUSHG 10
LOADN
WRITEI
PUSHS ","
WRITES
PUSHG 10
PUSHI 1
SUB
STOREG 10
JUMP testa1
saiciclo1: nop
PUSHS "]\n"
WRITES
STOP