PUSHN 4
PUSHN 4
PUSHN 4
PUSHI 0
PUSHI 0
PUSHI 0
PUSHI 0
START
PUSHGP
PUSHI 0
PADD
PUSHI 0
PUSHI 2
MUL
PUSHI 0
ADD
PUSHI 1
STOREN
PUSHGP
PUSHI 0
PADD
PUSHI 0
PUSHI 2
MUL
PUSHI 1
ADD
PUSHI 1
STOREN
PUSHGP
PUSHI 0
PADD
PUSHI 1
PUSHI 2
MUL
PUSHI 0
ADD
PUSHI 1
STOREN
PUSHGP
PUSHI 0
PADD
PUSHI 1
PUSHI 2
MUL
PUSHI 1
ADD
PUSHI 1
STOREN
PUSHGP
PUSHI 4
PADD
PUSHI 0
PUSHI 2
MUL
PUSHI 0
ADD
PUSHI 2
STOREN
PUSHGP
PUSHI 4
PADD
PUSHI 0
PUSHI 2
MUL
PUSHI 1
ADD
PUSHI 2
STOREN
PUSHGP
PUSHI 4
PADD
PUSHI 1
PUSHI 2
MUL
PUSHI 0
ADD
PUSHI 2
STOREN
PUSHGP
PUSHI 4
PADD
PUSHI 1
PUSHI 2
MUL
PUSHI 1
ADD
PUSHI 2
STOREN
testa2: nop
PUSHG 12
PUSHI 2
INF
JZ saiciclo2
PUSHI 0
STOREG 13
testa1: nop
PUSHG 13
PUSHI 2
INF
JZ saiciclo1
PUSHI 0
STOREG 14
testa0: nop
PUSHG 14
PUSHI 2
INF
JZ saiciclo0
PUSHG 15
PUSHGP
PUSHI 0
PADD
PUSHG 12
PUSHI 2
MUL
PUSHG 14
ADD
LOADN
PUSHGP
PUSHI 4
PADD
PUSHG 14
PUSHI 2
MUL
PUSHG 13
ADD
LOADN
MUL
ADD
STOREG 15
PUSHG 14
PUSHI 1
ADD
STOREG 14
JUMP testa0
saiciclo0: nop
PUSHGP
PUSHI 8
PADD
PUSHG 12
PUSHI 2
MUL
PUSHG 13
ADD
PUSHG 15
STOREN
PUSHI 0
STOREG 15
PUSHG 13
PUSHI 1
ADD
STOREG 13
JUMP testa1
saiciclo1: nop
PUSHG 12
PUSHI 1
ADD
STOREG 12
JUMP testa2
saiciclo2: nop
PUSHI 0
STOREG 12
testa4: nop
PUSHG 12
PUSHI 2
INF
JZ saiciclo4
PUSHI 0
STOREG 13
testa3: nop
PUSHG 13
PUSHI 2
INF
JZ saiciclo3
PUSHGP
PUSHI 8
PADD
PUSHG 12
PUSHI 2
MUL
PUSHG 13
ADD
LOADN
WRITEI
PUSHS " "
WRITES
PUSHG 13
PUSHI 1
ADD
STOREG 13
JUMP testa3
saiciclo3: nop
PUSHS "\n"
WRITES
PUSHG 12
PUSHI 1
ADD
STOREG 12
JUMP testa4
saiciclo4: nop
STOP