PUSHI 0
PUSHI 0
PUSHI 0
PUSHN 3
START
PUSHI 1
PUSHI 2
PUSHI 3
MUL
ADD
STOREG 0
PUSHG 0
PUSHI 7
EQUAL
JZ else0
PUSHGP
PUSHI 3
PADD
PUSHI 0
PUSHI 1
STOREN
PUSHGP
PUSHI 3
PADD
PUSHI 1
PUSHI 2
STOREN
PUSHGP
PUSHI 3
PADD
PUSHI 2
PUSHI 3
STOREN
JUMP endIf0
else0: nop
PUSHGP
PUSHI 3
PADD
PUSHI 0
PUSHI 3
STOREN
PUSHGP
PUSHI 3
PADD
PUSHI 1
PUSHI 2
STOREN
PUSHGP
PUSHI 3
PADD
PUSHI 2
PUSHI 1
STOREN
endIf0: nop
testa1: nop
PUSHG 1
PUSHI 3
INF
JZ saiciclo1
PUSHGP
PUSHI 3
PADD
PUSHG 1
LOADN
WRITEI
PUSHS " "
WRITES
PUSHG 1
PUSHI 1
ADD
STOREG 1
JUMP testa1
saiciclo1: nop
PUSHS "\n"
WRITES
STOP